@font-face {
    font-family: keroine-regular;
    src: url(assets/fonts/KeroinePROTest-DouxExtreme.otf);
}

@font-face {
    font-family: pixelify-sans;
    src: url(assets/fonts/PixelifySans-Regular.ttf);
}

@font-face {
    font-family: chi;
    src: url(assets/fonts/NotoSerifSC-VariableFont_wght.ttf);
}

:root {
    --background: #FFFEFF;
    --accent-colour: #CC007B;
    --primary-colour:  #696969;
    --primary-font: 'keroine-regular';
    --accent-font: 'pixelify-sans';
    --chinese-font: 'pixel-chi';
    --primary-fontsize: 16px;
    --accent-fontsize: 35px;
    --title-fontsize: 19px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    padding: 35px 35px;
    background-color: var(--background);
    color: var(--primary-colour);
    letter-spacing: -0.5px;
    font-size: var(--primary-fontsize);
    text-wrap: pretty;
}

::selection {
    background-color: var(--accent-colour);
    color: whitesmoke;
}

img {
    width: 100%;
    height: auto;
    max-width: 500px;
}

ul, ol {
    font-family: var(--chinese-font);
    padding-left: 20px;
}

#header {
    font-size: var(--accent-fontsize);
    font-family: var(--accent-font);
    color: var(--accent-colour);
}

#desc {
    font-size: var(--primary-fontsize);
    display: block;
    margin: 0;
    text-align: left;
}

.nav {
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
}

.nav a {
    color: var(--primary-colour);
    font-size: var(--primary-fontsize);
    text-decoration: none;
    font-family: var(--accent-font);
    display: block;
    text-align: right;
    padding: 5px;
}

.nav a:hover {
    color: var(--accent-colour);
    text-decoration: underline;
}

.title {
    font-size: var(--title-fontsize);
    font-style: italic;
    color: var(--accent-colour);
    padding-bottom: 5px;
}

.projDescription {
    font-size: var(--primary-fontsize);
    margin-top: -18px;
    max-width: 500px;
}

.image img {
    width: 100%;
    height: 100%;
    aspect-ratio: 313 / 192;
    border-radius: 8px;
    object-fit: cover;
}

#me {
    width: 60%;
    height: auto;
    position: relative;
    left: 22%;
    padding-top: 20px;
}

.specialText {
    font-style: italic;
    color: var(--accent-colour);
    font-size: var(--primary-fontsize);
}

.specialText1 {
    color: var(--accent-colour);
    font-size: var(--primary-fontsize);
    margin-top: -15px;
}

.sameRow {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-right: 100px
}

.heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 49px;
    height: 49px;
}

.header {
    position: relative;
    padding-left: 60px;
}

.header1 {
    position: relative;
    margin-bottom: 140px;
}

.heading1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: auto;
}

#recipesBlock {
    text-align: center;
    max-width: 500px;
}

.recipe {
    width: 100%;
    display: block;
    padding: 5px 0;
    font-size: var(--primary-fontsize);
    margin-bottom: 10px;
}

.fullBox {
    position: relative;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recipeImage {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 10px 10px;
    margin: 0;
    background: rgba(255, 255, 255, 0.6);
    color: var(--primary-colour);
    font-size: var(--title-fontsize);
    text-align: left;
    font-family: var(--chinese-font);
}

.back {
    text-decoration: none;
    color: var(--primary-colour);
    text-align: right;
    display: block;
}

.back:hover {
    color: var(--accent-colour);
    text-decoration: underline;
}

.recipeImage1 {
    margin-top: 30px;
}

.recipeTitle {
    font-size: var(--title-fontsize);
    color: var(--primary-colour);
    text-align: center;
    font-family: var(--primary-font);
}

.chi {
    font-family: var(--chinese-font);
}

#chi {
    margin-bottom: -30px;
    font-family: var(--chinese-font);
    margin-top: 50px;
    font-size: var(--primary-fontsize);
}

.ingredientSection {
    margin-bottom: -10px;
    margin-top: 30px;
    font-size: var(--primary-fontsize);
}

#allIngredients {
    padding-left: 20px;
}