@font-face {
    font-family: keroine-regular;
    src: url(assets/fonts/KeroinePROTest-DouxExtreme.otf);
}

@font-face {
    font-family: pixelify-sans;
    src: url(assets/fonts/PixelifySans-Regular.ttf);
}

:root {
    --background: #FFFEFF;
    --accent-colour: #D8B4C2;
    --primary-colour:  #696969;
    --primary-font: 'keroine-regular';
    --accent-font: 'pixelify-sans';
    --primary-fontsize: 13px;
    --accent-fontsize: 35px;
    --title-fontsize: 16px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    padding: 35px 35px;
    background-color: var(--background);
    color: var(--primary-colour);
    letter-spacing: -1px;
    font-size: var(--primary-fontsize);
}

::selection {
    background-color: var(--accent-colour);
    color: whitesmoke;
}

img {
    width: 100%;
    height: auto;
    max-width: 500px;
}

#header {
    font-size: var(--accent-fontsize);
    font-family: var(--accent-font);
    color: var(--accent-colour);
}

#desc {
    font-size: var(--primary-fontsize);
    display: block;
    margin: 0;
    text-align: left;
}

.nav {
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
}

.nav a {
    color: var(--primary-colour);
    font-size: var(--primary-fontsize);
    text-decoration: none;
    font-family: var(--accent-font);
    display: block;
    text-align: right;
    padding: 2.5px;
}

.nav a:hover {
    color: var(--accent-colour);
    text-decoration: underline;
}

.title {
    font-size: var(--title-fontsize);
    font-style: italic;
    color: var(--accent-colour)
}

.projDescription {
    font-size: var(--primary-fontsize);
    margin-top: -18px;
    max-width: 500px;
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 313 / 192;
}

.specialText {
    font-style: italic;
    color: var(--accent-colour);
    font-size: 13px;
}

.sameRow {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-right: 100px
}

.heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 49px;
    height: 49px;
}

.header {
    position: relative;
    padding-left: 60px;
}

.header1 {
    position: relative;
    margin-bottom: 120px;
}

.heading1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: auto;
}

#about {
    position: relative;
    text-align: left;
    padding-left: 52%;
}

#aboutBox {
    position: relative;
    width: 80vw;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2%;
}

#me {
    position: absolute;
    top: 25px;
    left: 10px;
    width: 50%;
    height: 50%;
    padding-right: 30px;
}