@font-face {
    font-family: new-romantics;
    src: url(assets/fonts/ROMANTIC.TTF);
}

@font-face {
    font-family: keroine-regular;
    src: url(assets/fonts/KeroinePROTest-DouxExtreme.otf);
}

@font-face {
    font-family: pixelify-sans;
    src: url(assets/fonts/PixelifySans-Regular.ttf);
}

:root {
    --background: #e6e6fa;
    --accent-colour: #2B44FF;
    --primary-colour:  #696969;
    --primary-font: 'keroine-regular';
    --accent-font: 'pixelify-sans';
    --test-font: 'new-romantics';
    --primary-fontsize: 15px;
    --accent-fontsize: 35px;
}

body {
    font-family: var(--primary-font);
    padding: 35px 35px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    color: var(--primary-colour);
    letter-spacing: -1px;
}

::selection {
    background-color: var(--accent-colour);
    color: whitesmoke;
}

img {
    width: 50%;
    height: auto;
    max-width: 500px;
}

#header {
    font-size: var(--accent-fontsize);
    font-family: var(--accent-font);
    color: var(--accent-colour);
}

#desc {
    font-size: var(--primary-fontsize);
    margin-right: 120px;
}

.nav {
    display: flex; 
    flex-direction: column;
    gap: 5px;
}

.nav a{
    color: var(--primary-colour);
    font-size: var(--primary-fontsize);
    text-decoration: none;
    font-family: var(--accent-font);
    text-align: right;
}

.nav a:hover {
    color: var(--accent-colour);
    text-decoration: underline;
}

#sameRow {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: -40px;
    max-width: 500px;
    width: 100%;
}

.title {
    font-size: 18px;
    font-style: italic;
    color: var(--accent-colour)
}

.projDescription {
    font-size: var(--primary-fontsize);
    margin-top: -18px;
}
